<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blue Bite Trivia Game</title>
  <link rel="stylesheet" href="dist/app.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Dancing+Script' rel='stylesheet' type='text/css'>
</head>
<body class="blue-bite-game" ng-cloak>

  <div class="inline-svg" style="height: 0; width: 0; position: absolute; visibility: hidden">
    <!-- inject:svg -->
    <svg xmlns="http://www.w3.org/2000/svg"><symbol id="icon-bluebite-logo" viewBox="-262 386 87 22"><path d="M-175.2 399.5s-.3 1.3-1.3 2.3c-.9.8-2.3 1.4-2.3 1.4l1 1s-1.6 1.8-3.6 1.8c-.9 0-1.7-.2-2.2-.5 2.3-1.9 4-4.3 4-5.9 0-2.8-2.4-3-3.1-3-3.4 0-5.3 3.8-5.3 6.1 0 .6.1 1.4.5 2.3h-.1c-5.3 2-2.1-6.1-.5-9.6.7.1 1.6.2 2.5-.1 3.1-.7 3.6-2.3 3.3-2.5-.4-.3-1.7 1.1-3.3 1-.7 0-1.2-.1-1.7-.2 1.7-3.4 4.1-7.6 4.1-7.6s-3.1.7-5 4c-.4.8-1 1.8-1.4 2.7-4.2-1.9-6.1-1-6.2-.9-.6.3-1 .8-1 1.5 0 .9.7 1.6 1.6 1.6.9 0 1.6-.7 1.6-1.5h.4c.9 0 1.5.8 2.5 1.3s-1.1 2.3-2.1 5-.7 4.8-.7 4.8c-4.5 3.1-4.1-.1-3.4-2.8.7-2.7 2.3-5 2.3-5h-3s-1.3 2.6-1.8 4.3c-.5 1.7-.8 3-.8 4.1s.4 3 2.9 3 4.5-1.7 4.5-1.7 1.2 1.7 3.5 1.7c1.1 0 2.3-.4 3.5-1 .9.6 2 1 3.6 1 7.1-.1 7-8.6 7-8.6zm-9.9 4.4c-.4-1-.3-2.2.1-3 .4-.8 1.1-1.9 2.2-1.9 1.2 0 .9 1.6.1 2.7-.7.7-1.1 1.4-2.4 2.2zm-66.7-6.5s4.7-.9 4.7-5.3-2.7-5.9-5.5-5.9-5.4 4.5-6.9 8.6-1.8 5.5-2.2 6.9c-1 3.7.7 6.3.7 6.3s.5-1.7 1.4-5c.6-1.9 1.4-4.5 2.3-6.9.4-1.1.9-2.1 1.4-3 1.3-2.4 2.6-4.1 3.5-4.1.7 0 2.7.4 2.7 3.6s-3.2 3.3-4.5 3.1c-1.2-.3-2.1-.7-2.4 0-.3.7.7 1 1.5 1.4.9.4 3.6 1.9 3.6 5.4 0 3.7-4.1 3.5-4.1 3.5s-1.5 0-3-1.1c-.4-.3-.9-.7-1.2-.2-.3.3 1 3.2 5.3 3.2 4.4 0 5.9-2.7 5.9-5 .2-3.8-3.2-5.5-3.2-5.5zm47.5 0s4.7-.9 4.7-5.3-2.7-5.9-5.5-5.9-5.4 4.5-6.9 8.6-1.8 5.5-2.2 6.9c-1 3.7.7 6.3.7 6.3s.5-1.7 1.4-5c.6-1.9 1.4-4.5 2.3-6.9.4-1.1.9-2.1 1.4-3 1.3-2.4 2.6-4.1 3.5-4.1.7 0 2.7.4 2.7 3.6s-3.2 3.3-4.5 3.1c-1.2-.3-2.1-.7-2.4 0-.3.7.7 1 1.5 1.4.9.4 3.6 1.9 3.6 5.4 0 3.7-4.1 3.5-4.1 3.5s-1.5 0-3-1.1c-.4-.3-.9-.7-1.2-.2-.3.3 1 3.2 5.3 3.2 4.4 0 5.9-2.7 5.9-5 .2-3.8-3.2-5.5-3.2-5.5zm-18.1 8.4c-.8 0-1.5-.1-2-.4.9-.6 1.7-1.2 2.3-1.9 2.3-2.4 2.6-7-1.3-7-2.8 0-5.3 3-5.3 6.1 0 .4.1 1.4.6 2.4-.4.2-.8.3-1.3.5-1.4.5-2.4 0-2.5-.8-.1-.8.7-2.5.9-2.9.3-.9 2.3-5.3 2.3-5.3h-2.8s-1.4 3.7-1.9 5c-.3.7-1.5 3.5-2.8 3.5-1.7 0-.8-2.8-.5-3.6s2.1-5 2.1-5h-2.7s-1.5 3.6-2 4.9-.6 2.9-.6 2.9c-4.1 2.6-4.2-.4-4.2-.9.1-3.4 3.1-9.4 3.1-9.4 2.1-.4 3.9-1.4 5-2.8 1.2-1.6 1.6-4.2-.8-4.9-2.3-.7-4.4 1.8-6.4 6.1-1.3.3-2.9 1.2-4 2.8-.6.8-.4 1.2-.2 1.3.2.2.5 0 1-.5.4-.4 1.4-1.1 2.1-1.3-1.5 3.2-2.8 6.4-2.8 9 0 2.7 1.6 4.3 4.2 4.3 1.8 0 3.3-1.4 3.3-1.4s.4 1.4 2.6 1.4 3.3-1.4 3.3-1.4.8 1.4 2.9 1.4c1 0 2.5-.5 4-1.2.8.7 2 1.2 3.7 1.2 5 0 5.2-4.9 5.2-4.9s-2.3 2.9-4.5 2.8zm-16.7-16.3c.6-.7 1.1-1.3 1.5-1.1.4.2.1 1-.2 1.5-.1.2-.5.7-1.1 1-.7.4-1.5.7-1.5.7s.7-1.4 1.3-2.1zm15.7 9.5c.6 0 .8.5.8 1.1-.1.7-.5 1.9-1.2 2.5-.3.3-1 .8-2 1.4-.9-2.1.7-5 2.4-5z"/></symbol></svg>
    <!-- endinject -->
  </div>

  <bb-navbar ng-if="location.path() !== '/'"></bb-navbar>

  <bb-header></bb-header>

  <main class="game-console" ng-view></main>

  <bb-footer></bb-footer>

<!-- Google Hosted jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- App Script -->
<script src="dist/bundle.js"></script>

<script>
  angular.bootstrap(document, ['blueBiteGame']);
</script>

</body>
</html>
