<footer class="game-footer">
  <div class="game-footer-content">
    <section class="author" rel="author">
      <h6 class="credit">&copy; {{vm.date() | date:'y'}} 	&#124; Blue Bite Trivia Game by <a href="http://dannyfcabrera.com" target="_blank" title="Danny Cabrera's Website">Danny Cabrera</a></h6>
    </section>
  </div>
</footer>
