<header ng-class="{'pos-f-t': location.path() !== '/'}" class="game-banner">
  <div class="game-logo">

    <a class="center-block" href="http://bluebite.com/" title="Blue Bite" target="_blank">
      <span class="sr-only">Blue Bite Trivia Game</span>
      <svg class="icon center-block"><use class="color-tertiary" xlink:href="#icon-bluebite-logo" /></svg>
    </a>
  </div>
</header>
