<div class="game-score">
  <ul class="list-unstyled">
    <li>Correct Answers | {{vm.correct}}</li>
    <li>Wrong Answers | {{vm.wrong}}</li>
  </ul>
</div>

<div ng-if="vm.gameOver" class="game-over-message">
  <div class="message">
    <h1 class="center-block text-xs-center">{{vm.message}}</h1>
  </div>
</div>

<div ng-hide="vm.gameOver" class="game-questions">
  <div class="question">
    <h1 class="center-block text-xs-center">{{(vm.questions|filter:query)[vm.count].text}}</h1>
  </div>
</div>

<div class="game-members">
  <ul class="list-unstyled">
    <li ng-disabled="vm.gameOver" ng-click="vm.gameOver || vm.selectedAnswer(vm.count,member.id)" id="member-{{member.id}}" class="member" ng-class="{'correct': member.status == 'correct', 'wrong': member.status == 'wrong'}" ng-repeat="member in vm.team | orderBy: 'name'">
        <img class="member-photo" ng-src="http://bluebite.com/images/crew_thumbs/{{member.thumbnail}}.jpg" alt="{{member.name}}"/>
        <h2 class="member-name">{{member.name}}</h2>
    </li>
  </ul>
</div>

<div ng-if="vm.gameOver" class="game-reset">
  <button class="btn btn-danger center-block" ng-click="vm.reset()">Reset</button>
</div>

<div ng-hide="vm.gameOver || vm.instructions === true" class="game-instructions">
  <button class="btn btn-success center-block" ng-click="vm.instructions = true">Instructions</button>
</div>

<div class="text-xs-center" ng-if="vm.instructions === true" class="game-instructions">

  <div class="instructions">

    <h3>Game Instructions</h3>

    <ul class="list-unstyled">
      <li>Choose which teamate belongs to the question being displayed.</li>
      <li>If you get 3 wrong answers, GAMEOVER...</li>
      <li>If you get all the answers right, You Win!</li>
    </ul>

    <p>Good Luck!</p>

    <button class="btn btn-danger center-block" ng-click="vm.instructions = false">Okay, got it!</button>

  </div>

</div>
