<div class="row">
  <article class="intro-text center-block text-xs-center">
    <h1>How well do you know the Blue Bite team?</h1>
    <p>Play the Blue Bite Trivia Game and find out.</p>
    <a class="btn btn-primary m-x-a" href="#/game">Start</a>
  </article>
</div>
