/* Variables

*/

//############## Colors

$bb-gray: #f7f8fa;
$bb-gray-dark: #30343c;
$bb-blue: #276cf2;

$color-primary: $bb-blue;
$color-secondary: $bb-gray;
$color-tertiary: $bb-gray-dark;

$lato: 'Lato', sans-serif;
$dancing: 'Dancing Script', cursive;
