/* Main Style Sheet

### Table
# Variables
# Normalize
*/

@import "variables";
@import "bootstrap-custom";

// Bootstrap 4
@import "../../../node_modules/bootstrap/scss/bootstrap";
//

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: $color-tertiary;
  color: $color-secondary;
}

// Layout

.game-navbar, .game-console, .game-footer {
  width: 100%;
  @include make-container();
}

.game-navbar {
  position: relative;
  z-index: 1031;
}

.game-nav {
  @include make-row();
  display: flex;
  justify-content: flex-end;;
}

.game-banner {
  flex: 1;
  display: flex;
  align-items: center;
  &.pos-f-t {
    flex: 0;
    height: 48px;
    background-color: transparentize($color-secondary, 0.2);
  }
}

.game-logo {
  width: 100%;
  a {
    max-width: 25em;
  }
  .pos-f-t & {
    width: auto;

  }
}

.game-logo .icon {
  width: 75%;
  height: auto;
  max-width: 25em;
  .pos-f-t & {
    width: 87px;
    height: 22px;
    margin-left: .9375rem;
  }
}

.game-console {
  flex: 1;
  max-width: 60em;
  padding-bottom: 2rem;
}

.game-footer {
  background-color: $color-tertiary;
  color: $color-secondary;
  .game-footer-content {
    @include make-row();
  }
  .author {
    @include make-col();
  }
  .credit {
    margin: 0;
    padding: 1rem 0;
    @extend .text-muted;
    a {
      color: $color-secondary;
    }
  }
}

.intro-text {
  width: 100%;
  @include make-col();
  h1 {
    font-family: $font-family-serif;
  }
}


// Console

.game-score, .game-questions, .game-members {
  @include make-row();
  ul {
    @include make-col();
  }
}

.game-members {
  ul {
    display: flex;
    flex-flow: row wrap;
    li {
      width: 48%;
      padding: .9375rem;
      background-color: $color-tertiary;
      margin: 1%;
      @include media-breakpoint-up(sm) {
        width: 31%;
      }
      @include media-breakpoint-up(md) {
        width: 18%;
      }
    }
  }
}

.member {
  cursor: pointer;
  &.wrong {
    background-color: $brand-danger;
  }
  &.correct {
    background-color: $brand-success;
  }
  &[disabled='disabled'] {
    cursor: default;
  }
}

.member-photo {
  border-radius: 50%;
  max-width: 100px;
  @extend .center-block;
}

.member-name {
  text-align: center;
  color: $color-secondary;
  margin: .9375rem 0 0;
  @extend .small;
}

.game-instructions, .game-over-message {
  @include make-row();
}
.question, .message, .instructions{
  @include make-col();
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


// SVG

.icon {
  width: 1em;
  height: 1em;
}

svg path, svg rect {
  fill: inherit;
}

use {
  &.color-primary {
    fill: $color-primary;
  }

  &.color-secondary {
    fill: $color-secondary;
  }

  &.color-tertiary {
    fill: $color-tertiary;
  }
}
